/* RESET CSS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --border: 1px solid #ffffff1a;
}

/* CONFIGURAÇÃO DA FONTE */
body, table, input, button {
  font: 100 16px/140% 'Roboto', sans-serif;
}

/* CONFIGURAÇÃO DE CORES */
body {
  background-color: #121214;
  color: white;
}

.container  {
  max-width: 690px;
  margin: 0 auto;
  padding: 20px 32px;
}

/* CONFIGURAÇÃO DO CABEÇALHO */
header {
 padding: 20px;
}

/*CONFIGURAÇÃO DAS LINHAS*/
form {
  border: var(--border);
  border-inline: none;
  padding: 20px 0;
}

fieldset {
  border: none;
}

/*CONFIGURAÇÃO DO FORMULÁRIO*/
fieldset > div {
  display: flex;
  gap: 12px;
}

.input-wrapper {
  flex: 1;

  display: flex;
  align-items: center;
  gap: 12px;

  border: var(--border);
  border-radius: 10px;

  padding: 8px 12px;

  font:  400 14px/150% 'Roboto', sans-serif;
  color: #c4c4cc;
}

input {
  all: unset;
}

fieldset legend, section h2 {
  font: 700 16px/140% 'Roboto', sans-serif;
  color: #e1e1e6;
  padding-bottom: 16px;
}

/*CONFIGURAÇÃO DE ESTILO BOTÃO*/
fieldset button {
  width: fit-content;
  border: 0;
  background: #f48f56;
  border-radius: 10px;
  padding: 7px 20px;

  font:  700 12px/24px 'Roboto', sans-serif;
  color: #00292e;  
}

.lista-participantes {
  padding: 20px 0;
}

/*primeiro nível da div*/
.lista-participantes > div {
  border: var(--border);
  border-radius: 8px;
}

/* CONFIGURAÇÃO DA TABELA */
table {
  border-collapse:collapse ;
}
table thead {
  font-size: 14px;
  line-height: 16px;
}

thred th,
tbody td {
  padding: 12px 16px;
}

tbody td {
  border-top: var(--border);

  font-size: 13px;
  line-height: 15px;
  color: #c4c4cc;
}

tbody td strong {
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

/* CONFIGURAÇÃO DO E-MAIL */
tbody td small {
  font-size: 12px;
  line-height: 16px;
}

/* CONFIGURAÇÃO DO BOTÃO */
tbody td button {
  all: unset;
  color: #9f9cc9;
}

tbody td button:hover {
  text-decoration: underline;
}

